.App {
  color: black;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(55, 125, 255);
}

nav > * {
  border: 3px solid lightblue;
  padding: 8px;
  margin: 0px;
  background-color: aliceblue;
  align-self: center;
  height: 100%
}

a {
  text-decoration: none;
  color: black;
}

nav :hover {
  cursor: pointer;
}

.pokeball {
  width: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.4;
  z-index: -5
}