.App {
  color: black;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(55, 125, 255);
}

nav > * {
  border: 3px solid lightblue;
  padding: 8px;
  margin: 0px;
  background-color: aliceblue;
  align-self: center;
  height: 100%
}

a {
  text-decoration: none;
  color: black;
}

nav :hover {
  cursor: pointer;
}

.tradContainer {
  display: flex;
  flex-wrap: wrap;
}

.trad-card {
  border: 1px solid black;
  padding: 2px;
  margin: 4px;
  background-color: rgb(255, 100, 72);
  color: yellow;
}

.pokeball {
  width: 30%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.35;
}