.App {
  color: black;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(55, 125, 255);
}

nav > * {
  border: 3px solid lightblue;
  padding: 8px;
  margin: 0px;
  background-color: aliceblue;
  align-self: center;
  height: 100%
}

a {
  text-decoration: none;
  color: black;
}

nav :hover {
  cursor: pointer;
}

.trad-container {
  background-color: rgb(255, 164, 164);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.trad-card {
  border: 1px solid black;
  margin: 5px;
  padding: 3px;
  background-color: rgb(255, 255, 222);
}

.title {
  font-weight: bold;
}